.App {
  text-align: center;
  padding: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #d0a9a9;
  color: #333;
}

.language-switcher, .text-formatting, .special-actions, .keyboard, .text-display {
  margin: 10px 0;
}

button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ddd;
}

.language-switcher button, .special-actions button {
  background-color: #d3508f;
  color: white;
}

.language-switcher button:hover, .special-actions button:hover {
  background-color: #e40c87;
}

.text-formatting {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.text-formatting div {
  margin-right: 20px;
}

.text-display {
  border: 1px solid #ccc;
  min-height: 100px;
  padding: 10px;
  overflow: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.keyboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 10px;
}

.keyboard button {
  background-color: #ea4d5a;
  color: white;
}

.keyboard button:hover {
  background-color: #f30b0b;
}

.keyboard .special {
  grid-column: span 2;
}